* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
    background-color: rgb(74, 74, 74);
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

main {
    margin: 180px 50px 100px 50px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    background-image: url("./assets/images/header.png");
    background-size: cover;
    background-position: center;
    color: white;
    position: fixed;
    top: 0;
}

h1 {
    padding-left: 50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    padding-right: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardTitle {
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.cardTitle h3 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.cardTitle i {
    padding-left: 10px;
}

.projects a {
    color: transparent;
    text-decoration: none;
}

.projects a:hover {
    color: white;
}

.projects a:visited {
    color: white;
}

.cardX {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/coming-soon.png");
    background-size: cover;
    background-position: center;
}

.cardX:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.cardAppointMe {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/appoint-me.png");
    background-size: cover;
    background-position: center;
}

.cardAppointMe:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card1 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/jate.png");
    background-size: cover;
}

.card1:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card2 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/social-network-api.jpg");
    background-size: cover;
}

.card2:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card3 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/regex.jpg");
    background-size: cover;
}

.card3:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card4 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/infinite-disc.png");
    background-size: cover;
    background-position: center;
}

.card4:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card5 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/the-tech-blog.png");
    background-size: cover;
    background-position: 5%;
}

.card5:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card6 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/e-commerce.jpg");
    background-size: cover;
}

.card6:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card7 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/employee-tracker.jpg");
    background-size: cover;
}

.card7:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card8 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/note-taker.png");
    background-size: cover;
    background-position: center;
}

.card8:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card9 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/team-profile-generator.png");
    background-size: cover;
    background-position: center;
}

.card9:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card10 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/readme-generator.jpg");
    background-size: contain;
}

.card10:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card11 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/drink.png");
    background-size: cover;
    background-position: center;
}

.card11:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card12 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/weather-dashboard.png");
    background-size: cover;
    background-position: center;
}

.card12:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card13 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/work-day-scheduler.png");
    background-size: cover;
    background-position: center;
}

.card13:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card14 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/coding-quiz.png");
    background-size: cover;
    background-position: center;
}

.card14:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.card15 {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/password-generator.png");
    background-size: cover;
    background-position: center;
}

.card15:hover {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    margin-bottom: 30px;
    background-image: url("./assets/projects/black.png");
    background-size: cover;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactTitle {
    font-size: 20px;
}

.userInput {
    padding: 5px 400px 5px 5px;
    margin: 10px 0px 10px 0px;
}

.messageInput {
    padding: 5px 400px 180px 5px;
    margin: 10px 0px 10px 0px;
}

.submitButton {
    color: white;
    background-color: rgb(175, 175, 175);
    padding: 10px 40px 10px 40px;
    margin: 5px 10px 10px 0px;
    border-radius: 5px;
}

.submitButton:hover {
    color: white;
    background-color: grey;
    padding: 10px 40px 10px 40px;
    margin: 5px 10px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}

form {
	width: 20%;
}

input {
	font-size: 1rem;
	padding: 0.25rem;
	border: 1px solid #353831;
	outline: none;
	border-radius: 3px;
	transition: box-shadow 0.2s;
	width: 600px;
}

ol li {
	list-style: inside;
}

ul li {
	list-style: none;
}

nav li {
	cursor: pointer;
}

nav li:hover {
	font-weight: bold;
	cursor: pointer;
}

textarea {
	width: 600px;
	height: 250px;
	padding: 5px;
}

.link {
	font-size: 30px;
	font-family: 'Courier New', Courier, monospace;
}

.active {
	font-weight: bold;
}

.resume {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

.resume:hover {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.proficiencies {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgb(25, 25, 25);
    margin-top: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footerContact {
    height: 40px;
    width: 40px;
    margin: 5px 15px 0px 15px;
    border-radius: 50%;
    opacity: .75;
}

.footerContact:hover {
    height: 45px;
    width: 45px;
    margin: 5px 15px 0px 15px;
    border-radius: 10px;
    opacity: 1;
}

@media screen and (max-width: 1300px) {
	.link {
		font-size: 20px;
	}
}

@media screen and (max-width: 1150px) {
	nav {
		padding-right: 100px;
	}

	nav ul {
		display: flex;
		flex-direction: column;
	}

	nav li {
		padding: 2px;
	}

	.link {
		font-size: 20px;
	}
}

@media screen and (max-width: 799px) {
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: flex-end;
	}

	h1 {
		position: relative;
		top: 50px;
	}
	
	nav {
		padding-right: 0px;
	}

	nav ul {
		display: flex;
		flex-direction: row;
	}

	nav li {
		padding: 10px;
	}

	.link {
		font-size: 20px;
	}

    form {
        width: 0%;
	}

    input {
        width: 0px;
	}

    .userInput {
        padding-right: 300px;
    }

    textarea {
        width: 0px;
	}

    .messageInput {
        padding-right: 300px;
    }
}

@media screen and (max-width: 500px) {
	header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: flex-end;
	}

	h1 {
        font-size: 40px;
        padding-left: 0px;
	}

    nav ul {
        padding-left: 0px;
    }

	.link {
		font-size: 15px;
        margin-top: 5px;
	}

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .resumeMargin {
        margin: 0px -40px 0px -40px;
    }
}